<%- include('../header-width') %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="row books-block">
						<%- include('../components/books-list-2') %>
					</div>
					<%- include('../components/paging') %>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('../footer') %>