<div class="masthead">
  <div class="container">
    <nav class="df">
      <div>
        <a class="nav-item active" href="/">首页</a>
        <a class="nav-item active" href="/book/bookcase">我的书架</a>
        <% if (user) { %>
          <a class="nav-item" href="/home"><%= user.username; %></a>
          <a class="nav-item" href="/logout">退出</a>
        <% } else { %>
          <a class="nav-item" href="/login">登录</a>
        <% } %>
      </div>
      <div>
        <form action="/book/search">
          <input type="search" name="name">
          <input type="submit">
        </form>
      </div>
    </nav>
  </div>
</div>