<div id="custom-popup-board">
  <div class="popup-board">
    <i class="popup-close-btn">x</i>
    <div class="title">消息提示</div>
    <div class="popup-content">没有新消息</div>
    <button class="popup-close-btn">关闭</button>
  </div>
</div>