<%- include('./header-width') %>

<div class="controller">
  <div class="objects"> 
    <div class="text-area rotate">
	    <p class="error">Error 404</p>
	    <p class="details">页面好像跑丢了，/(ㄒoㄒ)/~~</p> 
    </div> 
    <div class="homepage rotate">
      <a href="/">回到首页</a> 
    </div>
  </div> 
</div>

<%- include('./footer') %>